$header1: 2.5rem;
$header2: 2.5rem;
$header3: 2.5rem;
$header4: 1.5rem;
$text: 1rem;
$bigfont: 8rem;

$primary: rgb(255, 208, 0);
$gray: gray;
$bluish: rgb(4, 4, 54);
$darkblue: rgb(6, 54, 63);
$light: rgb(245, 237, 237);

@mixin flex($direction, $justifyContent, $alignItems) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@import "./global";
@import "./header";
@import "./search";
@import "./company";
@import "./guide";
@import "./add";
@import "./footer";

//*************media Quary****************/
//  large
@media only screen and (max-width: 1469px) {
  .location_add2 {
    right: 5%;
    transform: translate(-40%, -50%) !important;
  }
}
@media only screen and (max-width: 992px) {
  footer {
    height: 30rem;
    #explore {
      padding: 1rem;
    }
    .footer_links {
      margin-top: 1rem;
    }
  }
}
// medium screens
@media only screen and (max-width: 768px) {
  .search-sec img {
    width: 100%;
  }
  .getStarted_container {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    button {
      background-color: white;
      text-align: left;
      padding: 0;
      &:hover {
        color: $primary;
      }
    }
  }
  .cards_container {
    display: block;
  }
  .nav_links ul {
    display: block;
  }
  .veiw_apartments {
    width: 100%;
    @include flex(column, space-between, center);
    .view_btn {
      margin-top: 1rem;
    }
  }
  .company {
    padding-top: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    .company_wrapper {
      margin: 0;
    }
  }
  .appartment,
  .client,
  .employee,
  .awards {
    margin-top: 1rem;
  }
  .appartments_card {
    width: 100%;
  }
  .steps {
    display: block;
  }
  .step-three,
  .step-two {
    margin-left: 0;
  }
  .add-sec h4 {
    margin-top: 2rem;
  }
  .location_add2 {
    z-index: 3;
  }

  footer {
    height: 36rem;
    h4 {
      padding-top: 1rem;
    }
    #explore {
      padding-bottom: 1rem;
    }
  }
}
// small screens
@media only screen and (max-width: 600px) {
  .search {
    padding: 1rem !important;
    align-items: flex-start;
    justify-content: flex-start;

    h1 {
      font-size: $header3;
    }
    .search_input {
      width: 22rem;
    }
  }
  .contact_details {
    width: 100% !important;
  }
  footer {
    height: 36rem;
  }
  footer h1 {
    font-size: 2rem !important;
  }
  .appartments h2 {
    font-size: $header4 !important;
    display: inline !important;
  }
}
